{% extends "base.html" %}


{% block content %}

<h2>You will find work for {{ name }} below </h2>
<table border="5">
    <thead>
    <td>User</td>
    <td>Message</td>
    <td>Date</td>
</thead>

{% for row in rows %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
    </tr>
{% endfor %}
</table>

<p>Please complete work for the due date and upload it so it can be marked,
    Thank you.
</p>

<form action="/chatroom" method="post" name="form">
    <label>Message</label>
    <input type="text" name="message" id="message"/>
    <input type="submit" name="submit" id="submit"/>
</form>

{% endblock %}