{% extends "base.html" %}

{% block content %}
    <h2>{{ title }}</h2>
    <p style="text-align: center; font-size: 14pt">Please use the input below to create pupils/teachers login details.</p>
        <form action="/create-user" method="post" name="form"  enctype="multipart/form-data">

        <div class="login">
            <div class="username">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username"/>
            </div>
            <div class="password">
                <label for="password">Password:</label>
                <input type="text" name="password" id="password"/>
            </div>
            <div class="admin">
                <label for="is_admin">Is the user an admin:</label>
                <select id="is_admin" name="is_admin">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="submit">
                <input type="submit" name="submit" id="submit"/>
            </div>
            {% if error %}
                <p style="text-align: center;">{{error}}</p>
            {% endif %}
        </div>
        </form>
{% endblock %}


        {% block right %}
            <div class="right-nav">
                <div class="pill-nav">
                <a href="/create-user">Update Records</a>
                <a href="/view-records">View Records</a>
                <a href="/create-work">New Work</a>
                </div>
            </div>
        {% endblock %}
