{% extends "base.html" %}

<script>
    document.contact-form.submit();
    document.contact-form.reset();
</script>

{% block content %}
<div id="col-2">
<h2>{{ title }}</h2>

    <form action="/view-records" method="post" name="form">
    {% if error %}
        <p>{{error}}</p>
    {% endif %}

    <p style="text-align: center;"> Click All Users or Enter A Specific Username To Search For</p>
    <div class="user">
        <div class="check">
            <label for="checkAll">All Records:</label>
            <input type="checkbox" name="checkAll" value="ALL" id="checkAll"/>
        </div>
        <div class="username">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div class="submitbtn">
            <input type="submit" name="submit" id="submit" onclick="submitFunction" />
        </div>
    </div>
    </form>

<div id="col-1">

    <table border="5">
        <thead>
        <td>Username</td>
        <td>Admin</td>
    </thead>

    {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
</div>
{% endblock %}

        {% block right %}
            <div class="right-nav">
                <div class="pill-nav">
                <a href="/create-user">Update Records</a>
                <a href="/view-records">View Records</a>
                <a href="/create-work">New Work</a>
                </div>
            </div>
        {% endblock %}

